{% extends 'base.html' %}

{% block title %} <title>Blog App</title> {% endblock %}

{% block content %}

<h1>About Me</h1>
<hr>
<h2>
    Hi there! I'm Zak, and I'm a travel enthusiast with a passion for exploring the world. Over the years, I've had the privilege of visiting some amazing destinations, from the bustling streets of Tokyo to the remote corners of Patagonia.
<br><br>
    Through my blog, I hope to share my love of travel with others and inspire them to explore the world for themselves. Whether you're a seasoned traveler or someone who is just starting out, I believe that there's something truly magical about experiencing new places, cultures, and people.
    <br><br>
    If you have any questions, comments, or suggestions for my blog, please don't hesitate to get in touch. I love hearing from my readers and I'm always happy to offer advice or help in any way I can. You can reach me by email at u221.uk, or connect with me on social media [I'm Not giving you my social media lol]. Let's explore the world together!
</h2>    
{% endblock %}  