{% extends 'base.html' %}

{% block content %}  
<h1>Create Post</h1>
<hr>
    <form method="post">
      {% csrf_token %}
      <label for="blurb">Blurb:</label>
      <input type="text" id="blurb" name="blurb" required>
      <label for="body">Body:</label>
      <textarea id="body" name="body" rows="10" cols="50" required></textarea>
      <label for="city">City:</label>
      <input type="text" id="city" name="city">
      <label for="country">Country:</label>
      <input type="text" id="country" name="country">
      <label for="tags">Tags:</label>
      <select id="tags" name="tags" multiple>
        {% for tag in tags %}
          {% if tag.metatag != 'Location' %}
            <option value="{{ tag.pk }}">{{ tag.tag }}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button type="submit">Save</button>
    </form>
{% endblock %}